{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static crispy_forms_tags %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'home/css/home_page.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/social.css' %}">
{% endblock extra_css %}

{% block content %}
  <div class="container" style="padding-top: 50px; padding-bottom: 100px;">
    <div class="row">
      <div class="col-md-6">
        {{ page.contact_content|richtext }}
      </div>
      <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% crispy form %}
          <button type="submit" class="btn btn-block" style="background-color: royalblue; color: white;">Send Message</button>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}