{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'home/css/home_page.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/social.css' %}">
{% endblock extra_css %}

{% block content %}


  <section id="landing">
    <img src="{% static 'images/lbg_logo_black.png' %}" class="mx-auto d-block" id="landing-logo" alt="">
    <br>
    <div class="announcements">
      <div id="ann-header">
        Announcements&nbsp;&vert;&nbsp;
      </div>
      <div id="ann-content">
        {% if current_announcements %}
          {% for ann in current_announcements %}
            <div>{{ ann.announcement }}</div>
          {% endfor %}
        {% else %}
          <div>No current messages</div>
        {% endif %}
      </div>
    </div>
    <img src="{% static 'home/images/skyline-cropped.png' %}" id="skyline" alt="">
  </section>


  <section id="about">
    <div class="background-svg left">
      <h3>ABOUT</h3>
    </div>
    <div class="container section">
      {{ page.about_content|richtext }}
    </div>
  </section>


  <section id="samples">
    <div class="background-svg right">
      <h3>Samples</h3>
    </div>
    <div class="container section">
      <div id="nanogallery" data-nanogallery2='{
          "thumbnailHeight": auto,
          "thumbnailWidth": 300,
       }'>
        <!-- gallery content -->
        {% for item in page.gallery_images.all %}
          {% image item.image width-400 as tmp_photo %}
          <a href="{{ tmp_photo.url }}" data-ngThump="{{ tmp_photo.url }}">{{ item.caption }}</a>
        {% endfor %}
      </div>
    </div>
  </section>


  <section id="vendors">
    <div class="background-svg left">
      <h3>vendors</h3>
    </div>
  </section>


  <section id="designlab">
    <div class="background-svg right">
      <h3>Design Lab</h3>
    </div>
    <div class="container section text-center">
      <a href="{{ page.layout_lab_link }}" target="_blank">
        <img src="http://www.layoutlab.com/images/welcome/logo.png" alt="" style="max-width: 80%;">
      </a>
    </div>
  </section>


  <section id="payment">
    <div class="background-svg left">
      <h3>payments</h3>
    </div>
  </section>


  <section id="pricing">
    <div class="background-svg right">
      <h3>pricing</h3>
    </div>
    <div class="container section">
      {% for section in page.pricing_sections.all %}
        <h1>{{ section.pricing_title }}</h1>
        <p>{{ section.caption }}</p>
        {{ section.body }}
        <br>
        <hr>
      {% endfor %}
    </div>
  </section>

  <footer id="contact">
    <div id="lbg_map">
      <div id="map"></div>
    </div>
    <div id="lbg_contact">
      <img src="{% static 'images/lbg_logo.png' %}" class="mx-auto d-block" alt="">
      {% if page.address %}<div>{{ page.address }}</div>{% endif %}
      {% if page.phone %}<a href="tel:{{ page.phone }}">{{ page.phone }}</a>{% endif %}
      {% if page.email %}<a href="mailto:{{ page.email }}">{{ page.email }}</a>{% endif %}

      <hr>
      <h3>Hours</h3>
      {{ page.hours }}
    </div>
  </footer>

  <div class="icon-bar d-none d-md-block">
    <a href="https://www.facebook.com/lbgraphix/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/longbeachgraphix/?hl=en" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://www.linkedin.com/company/long-beach-graphix/" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
  </div>


{% endblock %}

{% block extra_js %}
  <script>

    function animateAnnouncements() {
      var height = $('#ann-content').height();
      var num_children = $('#ann-content > *').length;
      var count = 0;

      setInterval(
        function () {
          $('#ann-content').css('transform', 'translateY(-' + (height / num_children) * (count % num_children) + 'px)');
          count += 1;
        }, 3000
      );
    }

    // Used by google maps API below
    function initMap() {
      const lbg = {lat: 33.772, lng: -118.14};
      const map = new google.maps.Map(document.getElementById('map'), {
        center: lbg,
        zoom: 12
      });
      marker = new google.maps.Marker({position: lbg, map: map});
    }

    function setupAos() {
      $('.background-svg.right').each(function () {
        $(this).attr('data-aos', 'fade-left');
      });
      $('.background-svg.left').each(function(i) {
        if (i > 0) {
          $(this).attr('data-aos', 'fade-right')
        }
      });
      AOS.init({
        anchorPlacement: 'top-top',
        delay: 100
      });
    }

    function setupHeaders() {
      $('.background-svg > h3').click(function (e) {
        var hash = '#' + $(this).parent().parent()[0].id;
        $('html, body').animate({
          scrollTop: $(hash).offset().top - 100
        }, 500);
        window.location.href = hash;
        $('#nav-links').collapse('hide');
      });

      $('.background-svg').prepend("<img src='{% static 'home/images/right.svg' %}'>")
    }

    $(document).ready(function () {
      setupAos();
      animateAnnouncements();
      setupHeaders();
    })
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMvk812wM6ed4uybW8Zhdhq5Jz9Q0f_tM&callback=initMap"
          async defer></script>

{% endblock extra_js %}