{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static crispy_forms_tags %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'home/css/home_page.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/social.css' %}">
{% endblock extra_css %}

{% block content %}


  <section id="landing">
    <img src="{% static 'images/lbg_logo_black.png' %}" class="mx-auto d-block" id="landing-logo" alt="">
    <br>
    <h5>local and family owned since 2009</h5>
    <br>
    <div class="announcements">
      <div id="ann-header">
        Announcements&nbsp;&vert;&nbsp;
      </div>
      <div id="ann-content">
        {% if current_announcements %}
          {% for ann in current_announcements %}
            <div>{{ ann.announcement }}</div>
          {% endfor %}
        {% else %}
          <div>No current messages</div>
        {% endif %}
      </div>
    </div>
    <img src="{% static 'home/images/skyline-cropped.png' %}" id="skyline" alt="">
  </section>


  <section id="about">
    <div class="background-svg">
      <h3>ABOUT</h3>
    </div>
    <div class="container section">
      {{ page.about_content|richtext }}
    </div>
    <img src="{% static 'home/images/queenmary.png' %}" alt="" id="queenmary">
  </section>


  <section id="samples">
    <div class="background-svg">
      <h3>Samples</h3>
    </div>
    <div class="container section">
      <div id="nanogallery" data-nanogallery2='{
          "thumbnailHeight": auto,
          "thumbnailWidth": 300,
       }'>
        <!-- gallery content -->
        {% for item in page.gallery_images.all %}
          {% image item.image width-400 as tmp_photo %}
          <a href="{{ tmp_photo.url }}" data-ngThump="{{ tmp_photo.url }}">{{ item.caption }}</a>
        {% endfor %}
      </div>
    </div>
    <img src="{% static 'home/images/pyramid.png' %}" alt="" id="pyramid">
  </section>


  <section id="vendors">
    <div class="background-svg">
      <h3>vendors</h3>
    </div>
  </section>


  <section id="designlab">
    <div class="background-svg">
      <h3>Design Lab</h3>
    </div>
    <div class="container section text-center">
      <a href="{{ page.layout_lab_link }}" target="_blank">
        <img src="http://www.layoutlab.com/images/welcome/logo.png" alt="" style="max-width: 80%;">
      </a>
    </div>
  </section>

  <section id="pricing">
    {% for section in page.pricing_sections.all %}
      <div class="background-svg">
        <h3>{{ section.pricing_title }}</h3>
      </div>
      <div class="container">
        <h3>{{ section.pricing_title }} Pricing</h3>
        <p class="text-muted">{{ section.caption }}</p>
        {{ section.body }}
        <br>
        <br>
        <br>
      </div>

    {% endfor %}
  </section>

  <section id="contact-form">
    <div class="background-svg">
      <h3>Contact Us</h3>
    </div>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-sm-6">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Submit Message</button>
          </form>
          <br>
        </div>
      </div>
    </div>
  </section>

  <footer id="contact">
    <div id="lbg_map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3316.5596200497284!2d-118.14364014907135!3d33.77204403979623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd31b6d2ead1d7%3A0x341943fd18ebd091!2s406+Ximeno+Ave%2C+Long+Beach%2C+CA+90814!5e0!3m2!1sen!2sus!4v1549293989595"
        width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div id="lbg_contact">
      <img src="{% static 'images/lbg_logo.png' %}" class="mx-auto d-block" alt="">
      {% if page.address %}<div>{{ page.address }}</div>{% endif %}
      {% if page.phone %}<a href="tel:{{ page.phone }}">{{ page.phone }}</a>{% endif %}
      {% if page.email %}<a href="mailto:{{ page.email }}">{{ page.email }}</a>{% endif %}

      <hr>
      <h3>Hours</h3>
      {{ page.hours }}
    </div>
  </footer>


  <section id="payment">
    <h3>PAYMENTS AND DEPOSITS</h3>
    <img src="{% static 'home/images/cards.jpeg' %}" alt="" style="float: right; height: 100%;">
  </section>

  <div class="icon-bar d-none d-md-block">
    <a href="https://www.facebook.com/lbgraphix/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/longbeachgraphix/?hl=en" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://www.linkedin.com/company/long-beach-graphix/" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
  </div>


{% endblock %}

{% block extra_js %}
  <script>

    function animateAnnouncements() {
      var height = $('#ann-content').height();
      var num_children = $('#ann-content > *').length;
      var count = 0;

      setInterval(
        function () {
          $('#ann-content').css('transform', 'translateY(-' + (height / num_children) * (count % num_children) + 'px)');
          count += 1;
        }, 3000
      );
    }

    function setupAos() {
      $('.background-svg').each(function(i) {
        $(this).addClass('left').attr('data-aos', 'fade-right');
        //Following code alternates side of banner
        //if (i % 2 === 1) {
        //  $(this).addClass('right').attr('data-aos', 'fade-left');
        //} else {
        //  $(this).addClass('left').attr('data-aos', 'fade-right');
        //}
      });
      AOS.init({
        anchorPlacement: 'top-top',
        delay: 100
      });
    }

    function setupHeaders() {
      $('.background-svg > h3').click(function (e) {
        var hash = '#' + $(this).parent().parent()[0].id;
        $('html, body').animate({
          scrollTop: $(hash).offset().top - 100
        }, 500);
        window.location.href = hash;
        $('#nav-links').collapse('hide');
      });

      $('.background-svg').prepend("<img src='{% static 'home/images/right.svg' %}'>")
    }

    $(document).ready(function () {
      setupAos();
      animateAnnouncements();
      setupHeaders();
    })
  </script>
{% endblock extra_js %}