{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'home/css/home_page.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/social.css' %}">
{% endblock extra_css %}

{% block content %}
  <div id="landing">
    <div class="landing-content">
      <img src="{% static 'images/lbg_logo_black.png' %}" class="mx-auto d-block" alt="">
      <br>
      <div class="announcements">
        Announcements |
      <div>
        <div class="animated_messages">
        {% if current_announcements %}
          {% for ann in current_announcements %}
          <div>&nbsp;{{ ann.announcement }}</div>
          {% endfor %}
        {% else %}
          <div>&nbsp;No current messages</div>
        {% endif %}
        </div>
      </div>
      </div>
    </div>
  </div>
  <div id="about">
    <div class="background-svg left">
      <img src="{% static 'home/images/left.svg' %}">
      <h3>ABOUT</h3>
    </div>
    <div class="container section">
      {{ page.about_content|richtext }}
    </div>
  </div>
  <div id="samples">
    <div class="background-svg right">
      <img src="{% static 'home/images/right.svg' %}">
      <h3>Samples</h3>
    </div>
    <div class="container section">
      <div id="nanogallery" data-nanogallery2='{
          "thumbnailHeight": auto,
          "thumbnailWidth": 300,
       }'>
        <!-- gallery content -->
        {% for item in page.gallery_images.all %}
          {% image item.image width-400 as tmp_photo %}
          <a href="{{ tmp_photo.url }}" data-ngThump="{{ tmp_photo.url }}">{{ item.caption }}</a>
        {% endfor %}
      </div>
    </div>

  </div>
  <div id="vendors">
    <div class="background-svg left">
      <img src="{% static 'home/images/left.svg' %}">
      <h3>vendors</h3>
    </div>

  </div>
  <div id="designlab">
    <div class="background-svg right">
      <img src="{% static 'home/images/right.svg' %}">
      <h3>Design Lab</h3>
    </div>
    <div class="container section text-center">
      <a href="{{ page.layout_lab_link }}" target="_blank">
        <img src="http://www.layoutlab.com/images/welcome/logo.png" alt="">
      </a>
    </div>
  </div>

  <div id="payment">
    <div class="background-svg left">
      <img src="{% static 'home/images/left.svg' %}">
      <h3>payments</h3>
    </div>

  </div>
  <div id="pricing">
    <div class="background-svg right">
      <img src="{% static 'home/images/right.svg' %}">
      <h3>pricing</h3>
    </div>
    <div class="container section">
      {% for section in page.pricing_sections.all %}
        <h1>{{ section.pricing_title }}</h1>
        <p>{{ section.caption }}</p>
        {{ section.body }}
        <br>
        <hr>
      {% endfor %}
    </div>
  </div>

  <footer id="contact">
    <div id="lbg_map">
      <div id="map"></div>

    </div>
    <div id="lbg_contact">
      <img src="{% static 'images/lbg_logo.png' %}" class="mx-auto d-block" alt="">
      {% if page.address %}<div>{{ page.address }}</div>{% endif %}
      {% if page.phone %}<a href="tel:{{ page.phone }}">{{ page.phone }}</a>{% endif %}
      {% if page.email %}<a href="mailto:{{ page.email }}">{{ page.email }}</a>{% endif %}

      <hr>
      <h3>Hours</h3>
      {{ page.hours }}
    </div>
  </footer>

  <div class="icon-bar">
    <a href="https://www.facebook.com/lbgraphix/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/longbeachgraphix/?hl=en" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://www.linkedin.com/company/long-beach-graphix/" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
  </div>


{% endblock %}

{% block extra_js %}
  <script>

    function animateAnnouncements() {
      var height = $('.animated_messages').height();
      var num_children = $('.animated_messages > *').length;
      var count = 0;

      setInterval(
        function () {
          $('.animated_messages').css('transform', 'translateY(-' + (height / num_children) * (count % num_children) + 'px)');
          count += 1;
        }, 3000
      );
    }

    function initMap() {
      const lbg = {lat: 33.772, lng: -118.14};
      const map = new google.maps.Map(document.getElementById('map'), {
        center: lbg,
        zoom: 12
      });
      marker = new google.maps.Marker({position: lbg, map: map});
    }

    $(document).ready(function () {
      animateAnnouncements();
    })
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMvk812wM6ed4uybW8Zhdhq5Jz9Q0f_tM&callback=initMap"
          async defer></script>

{% endblock extra_js %}