[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = ">=2.4,<2.8"
Django = ">=2.1.6,<2.2"
gunicorn = "*"
django-heroku = "*"
sendgrid-django = "*"
django-crispy-forms = "*"
django-storages = "*"
"boto3" = "*"
django-simple-captcha = "*"

[dev-packages]

[requires]
python_version = "3.6"
