[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = ">=2.4,<2.5"
Django = ">=2.1,<2.2"
gunicorn = "*"
django-heroku = "*"
sendgrid-django = "*"
django-crispy-forms = "*"

[dev-packages]

[requires]
python_version = "3.6"
