//Landing Styling
$header-height-m: 60px;
$header-height-sm: 60x;
$tan: rgb(249, 237, 202);


#landing {
  min-height: calc(100vh - #{$header-height-m} - 50px - 8px); // last is the height of the total box shadow
  position: relative;
  text-align: center;
  padding-top: 60px;
  text-transform: uppercase;
  @media (max-width: 550px) {
    min-height: calc(100vh - #{$header-height-sm} - 50px);
  }
}

.announcements {
  background: rgb(250, 233, 189);
  border-radius: 200px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  text-transform: uppercase;
  overflow: hidden;
  padding: 0 20px;
  text-align: left;

  @media (max-width: 550px) {
    font-size: 13px;
  }
}

#ann-header {
  display: inline-block;
}

#ann-content {
  display: inline-block;
  transition: all .4s;
  vertical-align: top;

  div {
    white-space: nowrap;
  }
}

#landing-logo {
  max-width: 100%;
  width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
}

//Rest of the images

.section-image {
  width: 100% !important;
  max-width: 1500px !important;
  margin: auto;
  display: block;
}

//Header Styling
$header-color: #FAECC9;

.background-svg {
  position: relative;
  height: $header-height-m;
  text-transform: uppercase;
  margin-bottom: 50px;
  z-index: -2;
  box-shadow: 0 5px 0 0 black,
  0 8px 0 0 $header-color;

  img {
    z-index: -1;
    max-width: 380px;
    height: 100%;
  }

  h3 {
    white-space: nowrap;
    font-size: 20px;
    bottom: -5px;
    color: #FAECC9;
  }

  @media (max-width: 650px) {
    height: $header-height-sm;
  }

  &:after {
    content: ' ';
    display: block;
    background: linear-gradient($tan, rgb(255, 197, 45));
    width: 100%;
    height: 200px;
    transform: translateY(11px);
  }
}

$edge-distance: 300px;

.background-svg.right {
  img {
    float: right;
  }

  h3 {
    position: absolute;
    left: calc(100% - #{$edge-distance});
  }
}

.background-svg.left {
  h3 {
    position: absolute;
    right: calc(100% - #{$edge-distance});
  }

  img {
    transform: scaleX(-1);
  }
}

.header-img-wrapper {
  height: inherit;
  max-width: 1200px;
  margin: auto;
}


//Footer Styling
footer {
  min-height: 300px;
}


#map {
  height: 100%;
  min-height: 300px;
}

#lbg_contact {
  padding: 40px 30px !important;

  p {
    margin-bottom: .1rem;
  }

  img {
    width: 60%;
  }

  a {
    display: block;
  }

  hr {
    border-top: 1px solid white;
  }
}

//Pricing Styling
.pricing-content {
  @media only screen and (min-width: 600px) {
    padding-right: 70px;
    padding-left: 70px;
  }
}

table {
  width: 100%;
}

tbody > tr:nth-of-type(odd) {
  background: transparent;
}

tbody > tr:nth-of-type(even) {
  background: rgb(249, 237, 202);
}

td {
  padding: 8px;
}

tr:hover {
  background: #ddd !important;
}

th {
  padding: 10px;
  background: black;
  color: white;
}

//Global Styling
.extra-padding {
  padding-top: 80px;
  padding-bottom: 80px;

  @media (max-width: 700px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

section {
  overflow: hidden;
  position: relative;
  z-index: 2;
  min-height: 640px;
}

.row-no-padding {
  margin-left: 0 !important;
  margin-right: 0 !important;

  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

//Payment Section Styling
#payment {
  background: $tan;
  min-height: unset;
  height: 80px;
  padding-left: 30px;

  h3 {
    display: inline;
    line-height: 80px;
  }
}
