//Landing Styling
$header-height-m: 60px;
$header-height-sm: 60x;


#landing {
  min-height: calc(100vh - #{$header-height-m} - 50px - 8px); // last is the height of the total box shadow
  position: relative;
  text-align: center;
  padding-top: 60px;
  @media (max-width: 550px) {
    min-height: calc(100vh - #{$header-height-sm} - 50px);
  }

  img {
    max-width: 100%;
  }
}

.announcements {
  background: rgb(250, 233, 189);
  border-radius: 200px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  text-transform: uppercase;
  overflow: hidden;
  padding: 0 20px;
  text-align: left;

  @media (max-width: 550px) {
    font-size: 13px;
  }
}

#ann-header {
  display: inline-block;
}

#ann-content {
  display: inline-block;
  transition: all .4s;
  vertical-align: top;

  div {
    white-space: nowrap;
  }
}

#skyline {
  min-width: 800px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  top: 300px;
  max-height: 350px;
}

//Header Styling
$header-color: #FAECC9;

.background-svg {
  position: relative;
  height: $header-height-m;
  text-transform: uppercase;
  margin-bottom: 50px;
  box-shadow: 0 5px 0 0 black,
  0 8px 0 0 $header-color;

  img {
    z-index: -1;
    max-width: 380px;
    height: 100%;
  }

  h3 {
    white-space: nowrap;
    font-size: 20px;
    bottom: -5px;
    color: #FAECC9;

    &:hover {
      cursor: pointer;
    }
  }

  @media (max-width: 650px) {
    height: $header-height-sm;
  }
}

$edge-distance: 150px;

.background-svg.right {
  img {
    float: right;
  }

  h3 {
    position: absolute;
    right: $edge-distance;
  }
}

.background-svg.left {
  h3 {
    position: absolute;
    left: $edge-distance;
  }

  img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
  }
}

.header-img-wrapper {
  height: inherit;
  max-width: 1200px;
  margin: auto;
}

//Design Lab Styling
#designlab {
  //text-align: center;
}

//Footer Styling
footer {
  display: flex;
  min-height: 300px;

  & > div:first-child {
    flex-grow: 1;
  }
}

#map {
  height: 100%;
}

#lbg_contact {
  padding: 40px 20px;
  width: 50%;
  background: black;
  color: white;
  text-align: center;

  img {
    width: 60%;
  }

  a {
    display: block;
  }

  hr {
    border-top: 1px solid white;
  }
}

//Pricing Styling
table {
  width: 100%;
}

tbody > tr:nth-of-type(odd) {
  background: #f2f2f2
}

tbody > tr:nth-of-type(even) {
  background: white;
}

td {
  padding: 8px;
}

td, th {
  border: 1px solid #ddd;
}

tr:hover {
  background: #ddd !important;
}

th {
  padding: 10px;
  background: black;
  color: white;
}

//Global Styling
.section {
  padding-top: 80px;
  padding-bottom: 80px;

  @media (max-width: 700px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

section {
  overflow: hidden;
}
