{% load static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="site-nav">
  <a class="navbar-brand" href="#landing">
    <img src="{% static 'images/lbg_logo.png' %}" class="img-responsive" alt="" height="40px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#samples">Samples</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#vendors">Vendors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#designlab">Design</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#payment">Payment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>


{% block extra_js %}

  <script>
    $('.nav-link, .navbar-brand').click(function(e) {
      e.preventDefault();
      var hash = $(this)[0].hash;
      $('html, body').animate({
          scrollTop: $(hash).offset().top - 100
      }, 500);
      window.location.href = hash;
    })
  </script>

{% endblock extra_js %}
